= form_for @user do |f|
  =render "shared/errors", :model => @user

  .field
    = f.label "Admin"
    = f.radio_button(:admin, "true")
    = f.label(:admin_button, "True")
    = f.radio_button(:admin, "false")
    = f.label(:admin_button, "False")
  .field
    .actions
      = f.submit(:class => "button blue")
       
