.display_container
  %h1 Admin Panel
  %ul
    %li.title Administration Links
    .value
      %ol
        %li
          %span See listing of all users: 
          %span= link_to "users", users_path  
        %li 
          %span Create a new event:
          %span= link_to "new event", new_event_path
        %li 
          %span List of all applications:
          %span= link_to "Application", applications_path
          
    %li.title Current Active Event List
    .value
      %ol
        -@active_events.each do |event|
          %li
            %span.strong= "#{event.name}:"
            %span= "#{event.schedule}"
            %span= link_to "Go to event page", event_path(event)
 
    %li.title Current unactive Event List
    .value
      %ol
        -@unactive_events.each do |event|
          %li
            %span.strong= "#{event.name}:"
            %span= "#{event.schedule}"
            %span= link_to "Go to event page", event_path(event)
 
