!!!
%html
  %head
    %title Startuplab.co
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "keywords"}  
    = javascript_include_tag :defaults
    = render 'layouts/stylesheets'    
    = csrf_meta_tag
  %body
    .flash
      - flash.each do |key, value|
        %div{:class => "flash #{key}"}= value
    .left_side_push
    %section.container
      = render 'layouts/header'
      %section.content_container
        = yield
    
    = render 'layouts/footer'
    
    = render "layouts/googleanalytics"
    .debug
      = debug(params) if Rails.env.development?

